body {
    background-color: rgb(246, 246, 246);
}



h1, h3{
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}

.john {
    padding: 30px;
}

.formcreation {
    padding: 20px;
}

label, input {
    display: block;
}

label {
    margin-bottom: 20px;
}